<!DOCTYPE html>
<html>
<head>
	<title>Book Review</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'review/review.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#welcome').fadeOut(1700, function(){
				$('#booKCr').fadeIn(2000);
			});
			$('.log_link').click(function(){
				console.log("oh yeah!!");
				$('#register').fadeOut(750, function(){
					$('#login').fadeIn(750);
				})
			})
			$('.reg_link').click(function(){
				console.log("oh yeah!!");
				$('#login').fadeOut(750, function(){
					$('#register').fadeIn(750);
				})
			})
		})
	</script>
</head>
<body>
	<div class="left">
		<h1 id="welcome">Welcome to</h1>
		<h1 id="booKCr" class="hidden">booKCr</h1>
		<center>
			<div class="line"></div>
		</center>
		<div class="errors">
			{% for error in errors %}
			<li><h4>{{error}}</h4></li>
			{% endfor %}
		</div>
	</div>
	<div class="right">
		<div id="register">
			<form class="login_reg" action="/register" method="post">
				<h2>Register</h2><br>
				{% csrf_token %}
				<input type="text" name="name" placeholder="your name"><br>
				<input type="text" name="alias" placeholder="alias"><br>
				<input type="email" name="email" placeholder="email@address.com"><br>
				<input type="password" name="password" placeholder="password"><br>
				<input type="password" name="confirm" placeholder="password confirmation"><br>
				<input type="submit" value="Register"><br>
				<div class="log_link">Log In&nbsp;&nbsp;</div>
			</form>
		</div>
		<div id="login" class="hidden">
			<h2>Login</h2>
			<form action="/login" method="post" class="login_reg">
				{% csrf_token %}
				<input type="email" name="email"placeholder="email@address.com"><br>
				<input type="password" name="password"placeholder="password"><br>
				<input type="submit" value="Login"><br>
				<div class="reg_link">Register</div>
			</form>
		</div>
	</div>
</body>
</html>
