<!DOCTYPE html>
<html>
<head>
	<title>Book Reviews</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'review/review.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head>
<body>
	<div class="wrapper_review">
		<div class="header_review">
			<!-- <h1>Welcome, {{alias}}</h1> -->
			<h1>booKCr</h1>
			<div class="right_links">
				<a href="{% url 'add' %}">Add Book and Reveiw</a>
				<span>&nbsp;|&nbsp;</span>
				<a href="{% url 'logout' %}">Logout</a>
			</div>
		</div>
		<div class="content_review">
			<center>
				<h2>Recent &nbsp;Reviews</h2>
			</center>
			{% for recent, fav1, fav2 in recents %}
				<div class="review_review">
					<a class="review_book_name" href="{% url 'book' bid=recent.book.id %}">
						{{recent.book.title}}
					</a>
					<h3>
						Rating:&nbsp;
						{% for f in fav1 %}
							{% load static %}
							<img src="{% static 'review/goldstar.png' %}" alt="gold star"/>
						{% endfor %}
						{% for f in fav2 %}
							{% load static %}
							<img src="{% static 'review/outlinestar.png' %}" alt="blank star"/>
						{% endfor %}
					</h3>
					<p class="review_text">
						<a class="review_user" href="{% url 'user' uid=recent.user.id %}">{{recent.user.alias}}</a> : "{{recent.review}}"
					</p>
					<p class="review_date">Posted on {{recent.created}}</p>
				</div>
			{% endfor %}
		</div>
		<div class="other_reviews">
			<center>
				<h2>Other Reviews</h2>
			</center>
			<div class="books_review">
				<ul>
					{% for book in books %}
					<li>
						<a href="{% url 'book' bid=book.id %}">
							{{book.title}}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
